:root{
  --base : blue;
  --spacing : 0px;
  --blur :10px;
}
p.c {
    font-style: oblique;
  }
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  img {
    padding: var(--spacing);
    width: 300px;
    border-radius: 50%;
    float: left;
    background: var(--base);
    filter: blur(var(--blur));
  
  }
  .topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    float: left;
    background-color: #C0C0C0;
    padding: 6px 8px;
    margin-top: 40px;
    margin-left: 350px;
    text-align: center
    
    }